.popup__close-btn{
  background-image: url(../../../images/CloseIcon.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  border: none;
  transition: opacity 0.8s ease;
  cursor: pointer;
  background-color: transparent;
}

.popup__close-btn:hover{
  opacity: 0.6;
}

@media screen and (max-width: 779px) {
  .popup__close-btn{
    width: 20;
    height: 20px;
    right: -10px;
    top: -39px;
    background-size: contain;
    background-repeat: no-repeat;
  }

}


